[submodule "AndroidBleLib"]
	path = AndroidBleLib
	url = git://github.com/emil10001/AndroidBleLib.git
[submodule "HeartyAndroid"]
	path = HeartyAndroid
	url = git://github.com/emil10001/HeartyAndroid.git
[submodule "HeartyDB"]
	path = HeartyDB
	url = git://github.com/emil10001/HeartyDB.git
[submodule "HeartyGlass"]
	path = HeartyGlass
	url = git://github.com/emil10001/HeartyGlass.git
[submodule "HeartyWear"]
	path = HeartyWear
	url = git://github.com/emil10001/HeartyWear.git
[submodule "ReusableAndroidUtils"]
	path = ReusableAndroidUtils
	url = git://github.com/emil10001/ReusableAndroidUtils.git
[submodule "ReusableJavaUtils"]
	path = ReusableJavaUtils
	url = git://github.com/emil10001/ReusableJavaUtils.git
[submodule "Witness"]
	path = Witness
	url = git://github.com/emil10001/Witness.git
